# Flask
Flask==3.0.3
flask-cors==4.0.1
Flask-SQLAlchemy==3.1.1
python-dotenv==1.0.1
Werkzeug==3.0.3

# Database
SQLAlchemy>=2.0.36,<3

# HTTP and utilities
requests==2.32.3
numpy>=2.0.0
gdown==6.0.0

# Transcrição e Tradução
deep-translator==1.11.4
srt==3.5.3
openai-whisper>=20231117
setuptools>=77.0.3